* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none
}

.header {
    display: flex;
    max-width: 1304px;
    padding-top: 18px;
    margin: 0 auto;
    justify-content: space-between;
    padding-bottom: 18px;
}

.header__logo {
    width: 76px;
    height: 23px;
}

.header__head {
    display: flex;
    align-items: center;
    gap: 50px;
}

.header__menu {
    color: #040062;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    list-style: none;
    gap: 20px;
}

.header__button {
    background-color: #0013FF;
    font-size: 16px;
    display: flex;
    border-radius: 19px;
    padding: 10px 20px 10px;
}

.preview {
    display: flex;
    justify-content: center;
    padding-bottom: 90px;
}

.preview__pic {
    max-width: 1304px;
}


.container,
.box__items,.boxx__items {
    max-width: 1296px;
    margin: auto;
    display: flex;

}

.boxx__items{
    flex-direction: column-reverse;
}
.box__color {
    background-color: #FEF1EF;
    padding: 70px 0px 70px;
    width: 50%;
    display: flex;
    justify-content: center;
}

.box__pic {
    height: 508px;
    width: 234px;
}

.info {
    display: flex;
    width: 50%;
}

.info__info {
    display: flex;
    gap: 32px;
    flex-direction: column;
    padding: 170px 100px 0px;
}

.info__title {
    color: #040062;
    font-size: 48px;
}

.info__text {
    color: #6D758D;
    font-size: 18px;
}

.boxx__items {
    display: flex;
    flex-direction: row-reverse;
}

.boxx__color {
    background-color: #C7E3E9;
    padding: 70px 207px;
    max-width: 648px;
    display: flex;
}

.logo {
    display: flex;
}

@media (max-width: 1330px) {

    .header,
    .container,
    .preview__pic {
        width: calc(100% - 15px - 15px);
    }
}

@media (max-width: 1024px) {
    .info__title {
        color: #040062;
        font-size: 36px;
    }

    .box__pic {
        height: 338px;
        width: 156px;
    }

    .info__info {
        padding: 70px 50px 70px;
    }

    .preview {
        padding-bottom: 24px;
    }
}

@media (max-width: 630px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        padding-top: 25px;
    }

    .box__items {
        flex-direction: column-reverse;
    }

      .boxx__items {
        flex-direction: column-reverse;
    }

    .info {
        width: 100%;
        height: 325px;
    }

    .box__color {
        width: 100%;
    }

    .header__head {
        width: 100%;
        justify-content: space-between;
        align-items: stretch;
    }

    .header__button {
        align-self: center;
    }

    .info__info {
        gap: 24px;
    }

    .box__color {
        padding: 36px 0px;
    }
}

@media (max-width: 425px) {

    .header__head {
        justify-content: center;
        flex-direction: column;
        gap: 12px;
        align-items: center;
    }

    .info__title {
        font-size: 24px;
    }

    .info__info {
        padding: 36px 25px;
    }

    .info {
        height: 200px;
    }
}